<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <td>#</td>
          <td>Material</td>
          <td>Trade</td>
          <td>Cost_code</td>
          <td>Price</td>
          <td>Active</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let construction of list$ | async">
          <td>{{ construction.id }}</td>
          <td>{{ construction.material }}</td>
          <td>{{ construction.trade }}</td>
          <td>{{ construction.cost_code }}</td>
          <td>{{ construction.price }}</td>
          <td>{{ construction.active }}</td>
          <td>
             <button (click)="onDelete(construction)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
